@model FinalProjectSocialzR.ViewModel.PlaylistWithSocialMessagesVM


<div class="panel-heading">
    <span class="glyphicon glyphicon-comment"></span>
    <h3 class="panel-title">
        Moderated Comments
    </h3>
    @*<span class="label label-info">
        
        </span>*@
       <div class="playlist-buttons pull-right">
        <div class="dropdown">
            <buttonplaylist type="button" class="btn btn-primary btn-xs" title="Select Playlist" data-toggle="dropdown">
                <span class="glyphicon glyphicon-search"></span>
                <span class="caret"></span>
            </buttonplaylist>
            <ul id="drop-menu" class="dropdown-menu">

                @foreach (var item in Model.AllPlaylist)
                {

                    var selected = "";
                    if (item.Id == Model.Id)
                    {
                        selected = "selected-playlist";
                    }

                    <li id="playlist-@item.Id" class="@selected" onclick="runPlaylistSearch(this,  @item.Id);" data-id="@item.Id"><a href="#">@item.PlaylistName</a></li>
                }
            </ul>
            <buttonplaylist type="button" class="btn btn-success btn-xs" title="Export Playlist">
                <span class="glyphicon glyphicon-save"></span>
            </buttonplaylist>
        </div>
    </div>
</div>


@if (Model != null && Model.Messages != null)
{


    foreach (var item in Model.Messages)
    {

        <div class="ui-state-highlight">
            <div class="list-group-item">
                <div class="row">
                    <div class="col-xs-3 col-md-2">
                        <img src=@item.ImageUrl class="img-circle img-responsive" alt="" />
                    </div>
                    <div class="col-xs-7 col-md-11">
                        <div class="screen-name">
                            @item.ScreenName
                        </div>
                        <div class="time-stamp">
                            @item.PostTimeStamp
                        </div>
                        <div class="comment-text">
                            @item.Text


                            @if (item.Media != null)
                            {
                                if (item.Media.Contains(""))
                                {
                                    <blockquote class="twitter-video" data-lang="en">
                                        <p lang="en" dir="ltr"></p>
                                        <a href="@item.Media"></a>
                                    </blockquote>
                                    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                                }
                                else
                                {
                                    <img href="@item.Media" alt="Alternate Text" />
                                    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                                }


                            }



                        </div>
                        <div class="action">
                            <button class="upbutton btn btn-default btn-xs" title="Up">
                                <span class="glyphicon glyphicon-arrow-up"></span>
                            </button>
                            <button class="downbutton btn btn-default btn-xs" title="Down">
                                <span class="glyphicon glyphicon-arrow-down"></span>
                            </button>
                            <button type="button" class="btn btn-primary btn-xs" title="Edit">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button type="button" class="btn btn-success btn-xs" title="Approved">
                                <span class="glyphicon glyphicon-ok"></span>
                            </button>
                            <button type="button" class="btn btn-danger btn-xs" title="Delete">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    }

}