@model List<FinalProjectSocialzR.Models.Tweet>
@if (Model != null)
{
    var counter = 1;
    foreach (var item in Model)
    {

        <div class="ui-state-highlight" id="leftSideSearch-@counter">
            <div class="list-group-item">
                <div class="row">
                    <div class="col-xs-3 col-md-2">
                        <img src=@item.ImageUrl class="img-circle img-responsive" alt="" />
                    </div>
                    <div class="col-xs-7 col-md-10">
                        <div class="screen-name">
                            @item.ScreenName
                        </div>
                        <div class="time-stamp">
                            <span class="time">@item.PostTimeStamp</span>
                        </div>
                    </div>
                    <div class="col-xs-10 col-md-12">
                        <div class="comment-text">
                            <span class="text-body">
                                @item.Text
                            </span>

                            <span class="imagemovie">

                                @if (item.Media != null)
                                {
                                    if (item.Media.Contains("/video/"))
                                    {
                                        <blockquote class="twitter-video" data-lang="en">
                                            <p lang="en" dir="ltr"></p>
                                            <a class="twit-vid" href="@item.Media"></a>
                                        </blockquote>
                                        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                                    }
                                    else
                                    {
                                        <img src="@item.MediaImage" alt="Alternate Text" class="img-responsive" />
                                        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                                    }
                                }
                            </span>

                        </div>
                        <div class="media-link" value="@item.Media">
                        </div>
                        <div class="photo-link" value="@item.MediaImage">
                        </div>
                        <div class="action">
                            @*<button class="upbutton btn btn-default btn-xs" title="Up">
                                    <span class="glyphicon glyphicon-arrow-up"></span>
                                </button>*@
                            <button type="button" class="btn btn-primary btn-xs" title="addToPlaylist" onclick="moveButton(@counter);">
                                <span class="glyphicon  glyphicon-arrow-down"></span>
                            </button>
                            <button type="button" class="btn btn-primary btn-xs" title="Edit">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            @*<button type="button" class="btn btn-success btn-xs" title="Approved">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </button>*@
                            <button type="button" class="btn btn-danger btn-xs" title="Delete">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                            @*<button type="button" class="btn btn-default btn-xs" title="TransferAcross">
                                    <span class="glyphicon glyphicon-arrow-right"></span>
                                </button>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>


        counter++;
    }

}
<div class="playlistFooter">
    <a href="#" class="btn btn-primary btn-sm btn-block" role="button"><span class="glyphicon glyphicon-refresh"></span> More</a>
</div>

<script async src="~/Scripts/formatdatetime.js"></script>
