@model FinalProjectSocialzR.ViewModel.MainAppVM
@{
    ViewBag.Title = "Home Page";
}
<body>
    <div id="sidepanel">
        @if (HttpContext.Current.User.Identity.IsAuthenticated)
        {
            <div class="titleside">
                <h2>Social Search</h2>
            </div>
            <div class="list-group">
                <a href="#item-1" class="list-group-item" data-toggle="collapse">Twitter &nbsp;<i class="fa fa-twitter" aria-hidden="true"></i></a>
                <div class="list-group collapse" id="item-1">

                    <form>
                        <div class="form-group1">
                            <label for="search">Search</label>
                            <input type="text" id="twitterSearch" name="search" placeholder="Search here...">
                        </div>

                        <div class="form-group1">
                            <label for="mediafilter">Media Filter</label>
                            <select id="mediafilter" name="mediafilter">
                                <option value="showalltweets">Show All Tweets</option>
                                <option value="mustcontainphoto">Must Contain Photo</option>
                                <option value="mustcontainvideo">Must Contain Video</option>
                                <option value="mustcontainvideoandphoto">Must Contain Video and Photo</option>
                            </select>
                        </div>
                        @Html.Partial("_LanguageFilterPartial")


                        <div class="checkbox1">
                            <label><input type="checkbox" id="IncludeRetweets"> Include Retweets</label>
                        </div>

                        <div class="search">
                            <button class="btn btn-primary" onclick="runTwitterSearchAdvance();" type="button">Search</button>
                        </div>


                        <div class="list-group">
                            <a href="#item-1a" class="list-group-item" data-toggle="collapse">Advanced Search &nbsp;<i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <div class="list-group collapse" id="item-1a">

                                <form1>

                                    <div class="form-group1">
                                        <label for="location">Location</label>
                                        <input type="text" id="Location" name="Location" placeholder="City, Zip...">
                                    </div>

                                    <div class="form-group1">
                                        <label for="latitude">Latitude</label>
                                        <input type="text" id="Latitude" name="Latitude" placeholder="">
                                    </div>

                                    <div class="form-group1">
                                        <label for="longitude">Longitude</label>
                                        <input type="text" id="Longitude" name="Longitude" placeholder="">
                                    </div>

                                    <div class="form-group1">
                                        <label for="radius">Radius</label>
                                        <input type="text" id="Radius" name="Radius" placeholder="">

                                    </div>
                                    <label class="radio-inline">
                                        <input type="radio" name="optradio">Miles
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optradio">Kilometers
                                    </label>


                                    <div class="search">
                                        <button class="btn btn-primary" id="SearchButton" onclick="runTwitterSearchAdvance();" type="button">Search</button>
                                    </div>
                                </form1>
                            </div>
                        </div>

                    </form>
                </div>

                <a href="#item-2" class="list-group-item" data-toggle="collapse">Blacklist &nbsp;<i class="fa fa-ban" aria-hidden="true"></i></a>
                <div class="list-group collapse" id="item-2">

                    <form>
                        <label for="blacklist" placeholder="Words and regular expression patterns in this list will be used for blacklisting"></label>
                        <div class="form-group1">
                            <label for="search">Search words for censoring</label>
                            <input type="text" id="searchBlacklistWord" name="search" placeholder="Search here...">
                        </div>


                        <div class="search">

                            <button class="btn btn-primary" id="SearchButtonBlacklist" onclick="runBlacklistWordSearch();" type="button" style="padding-left: 16px; padding-right: 16px; margin-bottom: 10px;">Search</button>
 @*                           <button class="btn btn-default" id="EditButtonBlacklist" onclick="runBlacklistWordSearch();" type="button">Edit</button>*@

                            @Html.Partial("_blacklistPartial", Model.Blacklists)
                            <span id="blacklistcatelog">
                                @Html.Partial("_entireBlacklistCatelog", new FinalProjectSocialzR.ViewModel.BlacklistExtendedVM() { Blacklist = Model.Blacklists, BlacklistStatic = Model.StaticBlacklist} )
                            </span>
                        </div>


                    </form>
                </div>

                @*<a href="#item-2" class="list-group-item" data-toggle="collapse">Instagram &nbsp;<i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <div class="list-group collapse" id="item-2">

                        <form>
                            <div class="form-group1">
                                <label for="search">Search</label>
                                <input type="text" id="search" name="search" placeholder="Search here...">
                            </div>

                            <div class="form-group1">
                                <label for="queryon">Query On</label>
                                <select id="queryon" name="queryon">
                                    <option value="hashtag">Hash Tag</option>
                                    <option value="user">User</option>
                                </select>
                            </div>

                            <div class="form-group1">
                                <label for="mediafilter">Media Filter</label>
                                <select id="mediafilter" name="mediafilter">
                                    <option value="showalltweets">Show All Posts</option>
                                    <option value="mustcontainphoto">Must Contain Photo</option>
                                    <option value="mustcontainvideo">Must Contain Video</option>
                                </select>
                            </div>


                            <div class="search">
                                <button class="btn btn-primary" id="SearchButton" onclick="runTwitterSearchAdvance();" type="button">Search</button>
                            </div>

                        </form>
                    </div>*@

            </div>
            <div>


                <div>
                    <div class="MobileLogOutButton"><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></div>

                </div>
            </div>
        }

        @if (HttpContext.Current.Session.Keys.Count == 0)
        {
            @Html.ActionLink("AuthenticateTwitter", "Begin", "Oauth", null, null)
        } 
        @if (!HttpContext.Current.User.Identity.IsAuthenticated)
        {
            <div>
                @Html.ActionLink("Login", "Login", "Account", null, new { @class = "btn btn-primary" })
            </div>
        }
    </div> <!-- side panel code ends-->









    <div class="containercomments">
        <!-- left side search display-->

        <div class="col-xs-12 col-md-6">
            <div class="containercomments1">
                <div class="rowbody">
                    <div class="panel panel-default widget">


                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-comment"></span>
                            <h3 class="panel-title">
                                Search List
                            </h3>
                            <span id="mobileplaylistpicker">
                                @Html.Partial("_LeftUpperPartial", new FinalProjectSocialzR.ViewModel.PlaylistWithSocialMessagesVM { AllPlaylist = Model.Playlists })
                            </span>




                            @*<span class="label label-info" id="retrievedtweetscounter">
                                0
                            </span>*@
                        </div>


                        <div class="panel-body">
                            <div>
                                <div id="twitterSearchDisplayFront" style="max-height: 80vh" class="sortable_list connectedSortable">
                                    @Html.Partial("_TwitterSearchResultsPartial", new List<FinalProjectSocialzR.Models.Tweet>())

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- left side search display ends-->
        <!--right side playlist-->
        <div class="col-xs-12 col-md-6 pull-right">
            <div class="containercomments2">
                <div class="rowbody">
                    <div class="panel panel-default widget">
                        <div id="playlistSearchDisplayFrontUpper" class="panel-heading">
                            @Html.Partial("_PlaylistSearchResultsUpperPartial", new FinalProjectSocialzR.ViewModel.PlaylistWithSocialMessagesVM { AllPlaylist = Model.Playlists })
                        </div>
                        <div class="panel-body col-xs-12 col-sm-12" >
                            <div id="playlistSearchDisplayFront" style="max-height: 80vh" class="sortable_list connectedSortable">
                                @Html.Partial("_PlaylistSearchResultsPartial", new FinalProjectSocialzR.ViewModel.PlaylistWithSocialMessagesVM { AllPlaylist = Model.Playlists })
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--right side playlist ends -->

    </div>

  





</body>