@{
    Response.Write("<?xml version='1.0' encoding='UTF-8' ?>");
    Layout = null;
}
@model IEnumerable<FinalProjectSocialzR.Models.SavedSocialMessage>
<rss version="2.0">
    <channel>
        <title>
            SocializR
        </title>
        <lastBuildDate />
        <pubDate />
        <customAttributes></customAttributes>
        @foreach (var item in Model)
        {
            <item>
                <realname>@item.ScreenName</realname>
                <username>@item.UserName</username>
                @Html.Raw(string.Format("<link>{0}</link>", item.ImageUrl))
                <source />
                <avatar>@item.ImageUrl</avatar>
                <photo>@item.MediaImage </photo>
                <createdate />
                <media>@item.Media</media>
                <textbody>@item.Text</textbody>                        
            </item>
        }
    </channel>
</rss>

